Code/Both Datasets/*
!videos_by_individuals.csv
Code/Box of Lies Vids/*
!whole_bol.txt
!videos_by_individuals.csv
Code/Real-life_Deception_Detection_2016/*
!videos_by_individuals.csv
!whole_rlt.txt
Code/Mixed BOL Folds
Code/Mixed RLT Folds

test.txt
train.txt
val.txt

Results/runs
Results/runsF
Results/runsBoL
Results/runsBoth
Results/testsBoth